# ----------------------------------------
# Build tools (Maven / Gradle)
# ----------------------------------------
/target/
/build/
/out/
/.gradle/
/!gradle-wrapper.jar

# ----------------------------------------
# IntelliJ IDEA
# ----------------------------------------
/.idea/
/*.iml
/out/
/!**/src/main/**/out/
/!**/src/test/**/out/

# ----------------------------------------
# Eclipse
# ----------------------------------------
.metadata/
/bin/
/.factorypath
.classpath
.project
.settings/
/.springBeans
.sts4-cache
!**/src/main/**/bin/
!**/src/test/**/bin/

# ----------------------------------------
# NetBeans
# ----------------------------------------
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# ----------------------------------------
# VS Code
# ----------------------------------------
.vscode/

# ----------------------------------------
# Mac OS
# ----------------------------------------
.DS_Store

# ----------------------------------------
# Logs e arquivos temporários
# ----------------------------------------
*.log
*.tmp
*.swp

# ----------------------------------------
# Arquivos de credenciais e ambiente
# ----------------------------------------
.env
.env.local
.settings.xml
.settings-security.xml
